API_VERSION = '1.0'
PORT = 3000

RABBIT_HOST = HOST
RABBIT_PORT = PORT
RABBIT_USER = USERNAME
RABBIT_PW = PASSWORD

SQL_HOST = HOST
SQL_USERNAME = USERNAME
SQL_PASSWORD = PASSWORD
SQL_DATABASE = DATABASE

MONGO_HOST =  HOST
MONGO_USERNAME = USERNAME
MONGO_PASSWORD = PASSWORD
MONGO_DATABASE = DATABASE

DELAY_EXCHANGE = EXCHANGENAME
REALTIME_EXCHANGE = EXCHANGENAME
WEBSOCKET_QUEUE = QUEUENAME
WEBPUSH_QUEUE = QUEUENAME
DELAY_QUEUE = QUEUENAME
BCRYPT_SALT = SALT
SESSION_SECRET = SECRET
TAPPAY_PARTNER_KEY = KEY
TAPPAY_MERCHANT_ID = ID

CACHE_HOST = HOST
CACHE_PORT = PORT
CACHE_USER = USER
CACHE_PASSWORD = PASSWORD

MAX_PUSH_CLIENT = 1000;
TZ = 'UTC'
SCHEDULED_INTERVAL_HOUR = 6
