extends home-layout.pug

block content
      // Header
      header#header.py-4
        .container.px-5
          .row.gx-5.align-items-center.justify-content-center.ml-0
            .col-lg-8.col-xl-7.col-xxl-6.m-0
              .my-5.text-center.text-xl-start
                h2.display-5.fw-bolder.text-black.mb-2 Push Notification Service for Developers and Business
                p.lead.fw-normal.text-black-50.mb-4
                  | Bring back lost visitors through webpush notification.   
                  | Alternative plan - Websocket, for users do not authorize webpush.
                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xl-start
                  a.btn.btn-lg.px-4.me-sm-3.custom-btn(href='/register') Get Started
                  a.btn.btn-lg.px-4.custom-btn.custom-btn-bg(href='https://demo.easynotify.site' target='_blank') Demo
            .col-xl-5.col-xxl-6.d-none.d-xl-block.text-center
              img.img-fluid.rounded-3.my-5(src='/assets/img/push-notifications.gif')
      // Features section
      section.py-5
        .container.px-5.my-5
          .row.gx-5
            .col-lg-4.mb-5.mb-lg-0
              h2.fw-bolder.mb-0 A better way to start building.
            .col-lg-8
              .row.gx-5.row-cols-1.row-cols-md-2
                .col.mb-5.h-100
                  .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                    i.bi.bi-collection
                  h2.h5 Featured title
                  p.mb-0
                    | Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.
                .col.mb-5.h-100
                  .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                    i.bi.bi-building
                  h2.h5 Featured title
                  p.mb-0
                    | Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.
                .col.mb-5.mb-md-0.h-100
                  .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                    i.bi.bi-toggles2
                  h2.h5 Featured title
                  p.mb-0
                    | Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.
                .col.h-100
                  .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                    i.bi.bi-toggles2
                  h2.h5 Featured title
                  p.mb-0
                    | Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.

