doctype html
html(lang='en')
  head

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='A push notification service for developer')
    meta(name='author' content='Easy-Notify')
    title Easy Notify
    // Favicon
    link(rel='icon' type='image/x-icon' href='/assets/img/favicon.ico')
    // Bootstrap icons
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' rel='stylesheet')
    // Core theme CSS (includes Bootstrap)
    link(rel='stylesheet' href='/vendor/plugins/fontawesome-free/css/all.min.css')
    link(rel='stylesheet' href='/vendor/dist/css/adminlte.min.css')
    link(href='/vendor/dist/css/home.css' rel='stylesheet')
  style.
    .navbar-home {
      background-color: rgb(252, 250, 225, 0.4);
      border-bottom-left-radius:30px;
      border-bottom-right-radius:30px;
    }
    .navbar-home .nav-link {
    color: rgba(0,0,0,.5);
    font-weight: bold;
    }
    .navbar-home .nav-link:hover {
    color: #FFBF00;
    }
    .logo {
      max-width: 80%;
    }
    body {
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }
    .custom-btn {
      background: #f0eeec;
      color: #5b5b5b;
      font-weight: bold;
      border-radius: 30px;
      padding: 10px 20px;
      line-height: normal;
      overflow: hidden;
      transition: all 0.4s ease;
    }
    .custom-btn.custom-btn-bg {
    background: #474559;
    color: #ffffff;
    }
    .custom-btn:hover {
    color: #FFBF00;
    }
    .custom-btn.custom-btn-bg:hover {
    background: #FFBF00;
    color: #ffffff !important;
    }
    .login {
    background: #ebc68b;
    color: #ffffff !important;
    padding: 0px 5px;
    margin-left: 30px;
    border-radius: 10px;
    }

    .navbar .login:hover, .navbar .login:focus:hover, .login .nav-link:hover{
    background: #FFBF00;
    color: #ffffff !important;
    }

    .navbar-expand .navbar-nav .nav-link {
    font-size: 1.1rem;
    }
    .nav-logo {
      width: 25px;
    }
  script(src='/vendor/plugins/jquery/jquery.min.js')
  script(src='/vendor/plugins/bootstrap/js/bootstrap.bundle.min.js')
  body.d-flex.flex-column.h-100
    main.flex-shrink-0
      // Navigation
      nav.navbar.navbar-expand.navbar.bg.navbar-home.shadow-sm.mx-2.pb-1
        .container.px-5
          //- a.navbar-brand(href='index.html') Easy Notify
          a.navbar-brand.col-3(href='/')
            img.img-fluid.logo(src='assets/img/easy-notify-h.png' alt='logo')
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-3.mb-lg-0
              li.nav-item
                a.nav-link(href='/#about') About
              li.nav-item
                a.nav-link(href='/pricing') Pricing
              li.nav-item.dropdown
                a#dropdownMenuLinkropdownBlog.nav-link.dropdown-toggle(href='#' role='button' data-toggle="dropdown" aria-expanded='false') Document
                ul.dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuLink')
                  li
                    a.dropdown-item(href='https://www.npmjs.com/package/easy-notify-client')
                      img.nav-logo.mr-2(src='assets/img/npm-icon.png' alt='logo')
                      | Client Library
                  li
                    a.dropdown-item(href='https://app.swaggerhub.com/apis-docs/nnjkm076017/EasyNotify/1.0') 
                      img.nav-logo.mr-2(src='assets/img/file-type-swagger.256x256.png' alt='logo')
                      | Server REST API
              li.nav-item.login
                a.nav-link(href='/signin')=btnString
    block content 
    // Footer
    footer.bg-dark.py-4.mt-auto
      .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
          .col-auto
            .small.m-0.text-white Copyright © Easy-Notfy 2022
    