extends layout.pug

block content
    link(rel='stylesheet' href='/assets/css/boostrap.css')
    link(rel='stylesheet' href='/assets/css/login.css')
    .main-content
      .container
        .signup Sign Up
        .login Log In
        .signup-form
          form.form
            input.input(type='text' name='name' placeholder='Name')
            br
            input.input(type='text' name='email' placeholder='Email')
            br
            input.input(type='password' name='password' placeholder='Password')
            br
            button.btn.btn-signup(type='submit') Create account
        .login-form
          form.form
            input.input(type='text' name='email' placeholder='Email')
            br
            input.input(type='password' name='password' placeholder='Password')
            br
            button.btn.btn-login(type='submit') log in
        // This is the modal content
        #errorModal.modal.fade(role='dialog')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button' data-dismiss='modal') ×
                h4.modal-title Error
              .modal-body
                p Modal body text will go here.
              // Footer
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-primary(type='button') OK
    script(src='/vendor/plugins/jquery/jquery.min.js')
    script(src='/vendor/plugins/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/assets/js/login.js')
    