extends layout.pug

block variables
    - var userName = user.name
block content
  link(rel='stylesheet' href='/vendor/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')
  
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0 Notification Report
          .row.col-12.justify-content-center.align-items-center
            .col-10
              .card#report-card(style='display:none')
                .card-header.container-fluid
                  .row.justify-content-center.align-items-center
                    .col-11.row.justify-content-center.align-items-center
                      .col-10.d-flex.align-items-center
                        h3.m-0#notification-name.float-left.font-weightbold
                        span.ml-2.badge.badge-success.h-50#status-badge
                          h6.m-0
                      .card-tools.col-2
                        button#edit-btn.float-right.btn.btn-outline-secondary(type='button') Edit
                // /.card-header
                .card-body
                  .container-fluid
                    .row.justify-content-center.align-items-center
                      .col-11.border.rounded
                        form.p-2(readonly='')
                          .row
                            .col-md-6
                              .form-group
                                label.col-form-label.col-form-label-lg(for='input-title') Title
                                input#input-title.form-control.form-input(type='text' name='title' value='' disabled='')
                            .col-md-6
                              .form-group
                                label.col-form-label.col-form-label-lg(for='input-body') Body
                                input#input-body.form-control.form-input(type='text' name='body' value='' disabled='')
                          .row
                            .col-sm-6
                              .form-group
                                label.col-form-label.col-form-label-lg(for='send-type') Send-Type
                                select#send-type.custom-select.form-control.form-input(name='sendType' value='websocket' disabled='')
                                  option#websocket Websocket
                                  option#webpush Web-Push
                            .col-sm-6
                              .form-group.row
                                label.col-form-label.float-left.col-form-label-lg(for='input-body') Icon
                                textarea#input-icon.form-control.form-input(name='icon' disabled='')
                          .row
                            .col-sm-6
                              label.form-inline.col-form-label.col-form-label-lg(for='time-type') Send-Time
                              .form-check.form-check-inline
                                input#send-realtime.form-check-input.form-input(type='radio' name='sendTimeOpt' value='realtime' checked='' disabled='')
                                label.form-check-label(for='send-realtime') Realtime
                              .form-check.form-check-inline
                                input#send-scheduled.form-check-input.form-input(type='radio' name='sendTimeOpt' value='scheduled' disabled='')
                                label.form-check-label(for='send-scheduled') Scheduled
                            .col-sm-6
                              .form-group
                                label.col-form-label.col-form-label-lg Date and time:
                                #datetimepicker1.input-group.date(data-target-input='nearest')
                                  input.form-control.datetimepicker-input.form-input(type='text' data-target='#datetimepicker1' disabled='')
                                  .input-group-append(data-target='#datetimepicker1' data-toggle='datetimepicker')
                                    .input-group-text
                                      i.fa.fa-calendar
                          // /.card-body
                      #result.col-11.mt-1(style='display: none;')
                        .p-3
                          h4
                            | Results 
                            a.btn.ml-1.btn-sm.btn-outline-secondary#update-btn
                              i.fas.fa-sync
                            small.float-right#updateTime Update Time: 2/10/2014
                        .container-fluid.mt-2
                          .row
                            .col-6
                              .container
                                canvas#deliveryRate.chart.donutchart
                            .col-6
                              .container
                                canvas#receivedRate.chart.donutchart
  script(src='/vendor/plugins/moment/moment.min.js') 
  script(src='/vendor/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
  script(src='/vendor/plugins/chart.js/Chart.min.js')                   
  script(src='/assets/js/reportNotification.js')