extends layout.pug

block variables
    - var userName = user.name
block content
  link(rel='stylesheet' href='/vendor/plugins/daterangepicker/daterangepicker.css')
  link(rel='stylesheet' href='/vendor/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet' href='/vendor/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')
  link(rel='stylesheet' href='/vendor/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
          .col-sm-6
            h1.m-0 Reports
          // Main content
    section.content
      .container-fluid
        .card.shadow-sm
          .card-header(style='border-bottom: none')
            .container-fluid
              .row.mb-1
                from.form-inline
                  .form-group.mx-2
                    label.mr-2 APP
                    select.form-control#app-select.p-0(style="width:auto;" name='app')
                      each app, index in apps
                        if index === 0
                          option(data-id=app.id selected="selected")=app.name
                        else
                          option(data-id=app.id)=app.name
                  .form-group.mx-2
                    label.mr-2 Time
                    .form-control#reportrange.d-flex.align-items-center(style='background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc')
                      i.fa.fa-calendar.float-left
                      span.m-1
                      i.fa.fa-caret-down.float-right
                  .btn#reload-data.btn.btn-default(type="button")='Explore'
              // /.card-header
          .card-body
            .container-fluid
              .row.justify-content-center.align-items-center
                .col-12
                  .table-responsive
                    table#report-table.table.table-compact.dt-responsive.nowrap(cellspacing="0")
                      thead
                        tr
                          th Channel
                          th Name
                          th Status
                          th Delivered Time
                          th Type
                          th Create Time
  script(src='/vendor/plugins/moment/moment.min.js')
  script(src='/vendor/plugins/select2/js/select2.full.min.js')
  script(src='/vendor/plugins/daterangepicker/daterangepicker.js')
  script(src='/vendor/plugins/datatables/jquery.dataTables.min.js')
  script(src='/vendor/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')
  script(src='/vendor/plugins/datatables-responsive/js/dataTables.responsive.min.js')
  script(src='/vendor/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')
  script(src='/vendor/plugins/datatables-buttons/js/dataTables.buttons.min.js')
  script(src='/vendor/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')
  script(src='/vendor/plugins/datatables-buttons/js/buttons.colVis.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
  script(src='/assets/js/reports.js')



