doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Easy Notify | Sign in
    link(rel='icon' type='image/x-icon' href='/assets/img/favicon.ico')
    // Google Font: Source Sans Pro
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback')
    // Font Awesome
    link(rel='stylesheet' href='/vendor/plugins/fontawesome-free/css/all.min.css')
    // icheck bootstrap
    link(rel='stylesheet' href='/vendor/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
    // Theme style
    link(rel='stylesheet' href='/vendor/dist/css/adminlte.min.css')
  style.
    body {
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }
    .login-box-msg, .register-box-msg {
    margin: 0;
    padding: 5px 10px  20px;
    text-align: center;
    font-size: 20px
    }
    .custom-btn {
    background: #405057;
    color: #ffffff;
    }
    .custom-btn:hover {
    background: #FFBF00;
    color: #ffffff !important;
    }
    .bottom-text {
      color:#405057
    }
    .bottom-text:hover {
      color:#FFBF00
    }
    /* Adjusting the shadow of the modal content - also removing border radius */
    .modal-content{
      box-shadow: 0 0 5px rgba(0, 0, 0, .5);
      border-radius: 0;
    }

    /* Removing the border radius on btns just in modal */
    .modal-content .btn{
      border-radius: 0;
    }

    /* Adjusting  the close button */
    .close{
      font-size: 30px;
      font-weight: 300;
    }

    .modal-header .close{
      margin-top: -10px;
    }

    .modal .btn-primary {
    color: #fff;
    background-color: #1266f1;
    }

    .modal .btn-primary.focus, .modal .btn-primary:focus, .modal .btn-primary:hover {
    color: #fff;
    background-color: #0c56d0;
    }

    .modal .btn {
        text-transform: uppercase;
        vertical-align: bottom;
        border: 0;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
        font-weight: 500;
        padding: 0.625rem 1.5rem 0.5rem;
        font-size: .75rem;
        line-height: 1.5;
    }
  body.hold-transition.login-page
    .login-box
      .login-logo
        a(href='/')
          img.mx-auto.d-block.w-75.logo(src='assets/img/easy-notify-h.png' alt='logo')
      // /.login-logo
      .card
        .card-body.login-card-body.rounded
          p.login-box-msg Sign in to start
          form#signin-form(action='' method='post')
            .input-group.mb-3
              input.form-control(type='email' name='email' placeholder='Email' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-envelope
            .input-group.mb-3
              input.form-control(type='password' name='password' placeholder='Password' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-lock
            // /.col
            .row.justify-content-center.mb-3
              .col-4
                button.btn.custom-btn.custom-btn-bg.btn-block(type='submit') Sign In
              // /.col
          //- p.mb-1
          //-   a(href='forgot-password.html') I forgot my password
          p.mb-1
            a.text-center.bottom-text(href='register') Create a new account
        // This is the modal content
        #errorModal.modal.fade.bd-example-modal-sm(role='dialog')
          .modal-dialog.modal-dialog-centered.modal-sm
            .modal-content
              .modal-header.py-2
                h4.modal-title(style='color: #BA3240; font-weight:800;') Error
                button.close(type='button' data-dismiss='modal') ×
              .modal-body.justify-content-center.align-items-center
                p#errorMessage.login-box.w-100.py-0
              // Footer
              .modal-footerd.row.justify-content-center
                button.btn.custom-btn.mb-1(type='button' data-dismiss='modal') Close
        // jQuery
        script(src='/vendor/plugins/jquery/jquery.min.js')
        // Bootstrap 4
        script(src='/vendor/plugins/bootstrap/js/bootstrap.bundle.min.js')
        // AdminLTE App
        script(src='/vendor/dist/js/adminlte.min.js')
        script(src='https://unpkg.com/axios/dist/axios.min.js')
        script.
          function onLogin(event) {
            console.log('login')
            event.preventDefault();
            let data = new FormData(event.target);
            // Post to User sign in API
            // eslint-disable-next-line no-undef
            axios
              .post('/api/1.0/user/signin', {
                email: data.get('email'),
                password: data.get('password'),
              })
              .then((res) => {
                window.location.href = '/management/dashboard';
              })
              .catch((err) => {
                const {response} = err
                console.log(response.data.error)
                $('.modal-body p').text(response.data.error);
                $('#errorModal').modal('show');
              });
            }
          document.querySelector('#signin-form').addEventListener('submit', onLogin);
